<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measure</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="container">
        <form>
            <h1>Enter the below values</h1>
             
            <input type="text" id="firstName" placeholder="ph" required>
            <input type="text" id="lastName" placeholder="Hardness" required>
            <input type="email" id="email" placeholder="Solids" required>
            <input type="text" id="mobile" placeholder="Chloramines" required>
            <input type="text" id="firstName" placeholder="Sulphate" required>
            <input type="text" id="lastName" placeholder="Conductivity" required>
            <input type="email" id="email" placeholder="Organic Carbon" required>
            <input type="text" id="lastName" placeholder="Trihalomaethanes" required>
            <input type="email" id="email" placeholder="Turbidity" required>
            
            <input type="submit" value="Measure" id="button">
        </form>
    </div>
</body>
</html>